<div class="dialogContent">
  <h1 i18n="@@profileSettings" class="center">Task options</h1>
  <button class="closeDialog" (click)="closeDialog()" class="btn-icon btn-closeDialog-h1">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <form class="dialogForm">
    <h3 i18n="@@taskName">Task name</h3>
    <div class="inputRowNoSubmit">
      <input
        type="text"
        name="taskName"
        #autoSelect
        placeholder="Enter task name"
        i18n-placeholder="enterTaskName"
        [(ngModel)]="task.name"
      >
    </div>
  </form>
  <form class="dialogForm">
    <h3 i18n="@@taskDescription">Task description</h3>
    <div class="inputRowNoSubmit">
      <input
        type="text"
        name="taskDescription"
        placeholder="Enter task description"
        i18n-placeholder="enterTaskDescription"
        [(ngModel)]="task.description"
      >
    </div>
  </form>
  <form (ngSubmit)="addUserToTask()" class="dialogForm">
    <h3 i18n="@@addNewUserLogin">Assign to this task</h3>
    <div class="inputRow">
      <input
        type="text"
        name="userLogin"
        placeholder="Enter name"
        i18n-placeholder="newUserLogin" 
        [(ngModel)]="userToAdd"
      >
      <button type="submit" class="btn-icon"> 
        <span class="material-symbols-outlined">done</span>
      </button>
    </div>
  </form>
  <div id="users">
    <table>
      <tr *ngFor="let user of members$ | async">
        <td>
          {{user.login}}
        </td>
        <td>
          <button (click)="removeUserFromTask(user)" i18n="@@removeUserFromTask" id="removeUser">Remove this user</button>
        </td>
      </tr>
    </table>
  </div>
</div>