<ng-container>
  <div class="main-menu" *ngIf="isLoggedIn()">
    <button class="buttons" id="home" (click)="goToMainSite()" routerLink="">
      <span class="material-symbols-outlined">home</span>
    </button>
    <button class="buttons" id="projectList" (click)="displayUserProjects()">
      <span class="material-symbols-outlined">apps</span>
    </button>
    <button class="buttons" id="createProject" (click)="openCreateProjectDialog()">
      <span class="material-symbols-outlined">add</span>
    </button>

    <button class="buttons" id="openUserSettings" (click)="openUserSettingsDialog()">
      <span class="material-symbols-outlined">person</span>
    </button>

    <app-projects *ngIf="displayProjects"></app-projects>
  </div>
  <router-outlet></router-outlet>
</ng-container>
