#main-menu {
  width: 100%;
  height: 5rem;  
}

.btn-icon span {
  scale: 130%;
}

.btn-icon {
  width: 4.5rem;
  height: 3.5rem;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  background-color: #292929;
}

#btn-openUserSettings {
  float: right;
  margin-right: 0.7rem;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: #292929;
}

::ng-deep .mat-mdc-dialog-surface {
  --mdc-dialog-container-shape: 10px;
  border: 2px solid #3a3a3a;
}
