<div class="dialogContent">
  <button (click)="closeDialog()" id="closeDialog" class="btn-icon btn-closeDialog-h1">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <h1 i18n="@@createNewCategoryHeader" class="center">Create New Category</h1>
  <form (ngSubmit)="createCategory()" class="dialogForm">
    <div class="inputRowNoSubmit">
      <textarea
        submitOnEnter
        appAutoResize
        #autoSelect
        type="text"
        name="categoryName"
        id="categoryName"
        placeholder="Enter category name"
        i18n-placeholder="enterCategoryName"
        [(ngModel)]="categoryName"
        rows="1"
      ></textarea>
    </div>
    
    <div id="confirm">
      <button id="confirmButton" type="submit" class="btn-icon">
        Confirm
      </button>
    </div>
  </form>
</div>
