<div class="dialogContent">
  <button (click)="closeDialog()" id="closeDialog" class="btn-icon btn-closeDialog-h1">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <h1 i18n="@@createNewProjectHeader" class="center">New Project</h1>
  <form (ngSubmit)="createProject()" class="dialogForm">
    <div class="inputRow">
      <input
        #autoSelect
        type="text"
        id="projectName"
        name="projectName"
        placeholder="Enter project name"
        i18n-placeholder="enterProjectName"
        [(ngModel)]="formData.projectName"
      />
      <button id="btn-createProject" type="submit" class="btn-icon">
        <span class="material-symbols-outlined">done</span>
      </button>
    </div>
  </form>
</div>
