<div class="dialogContent">
  <h2 i18n="@@profileSettings" class="center">Category name</h2>
  <button class="closeDialog" (click)="closeDialog()" class="btn-icon btn-closeDialog">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <form class="dialogForm" (submit)="saveCategoryName()">
    <div class="inputRow">
      <input
        type="text"
        name="categoryName"
        #autoSelect
        placeholder="Enter category name"
        i18n-placeholder="enterCategoryName"
        [(ngModel)]="categoryName"
        minlength="1"
      >
    </div>
  </form>
</div>
