<div class="dialogContent">
  <button id="closeDialog" (click)="closeDialog()" class="btn-icon btn-closeDialog-h1">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <button id="deleteProject" (click)="deleteProject()" *ngIf="adminPrivileges" class="btn-icon">
    <span class="material-symbols-outlined redIcon"> delete </span>
  </button>
  <button id="leaveProject" (click)="leaveProject()" *ngIf="!adminPrivileges" class="btn-icon">
    <span class="material-symbols-outlined redIcon" title="Leave project" i18n-title="leaveProject"> logout </span>
  </button>

  <div id="projectNameHeader">
    <h1 class="center">{{ project?.name }}</h1>
  </div>

  <form (ngSubmit)="addUser()" class="dialogForm">
    <h3 i18n="@@addUserToWorkspace">Add user to workspace</h3>
    <div class="inputRow">
      <textarea 
        submitOnEnter
        appAutoResize
        name="userLogin"
        #autoSelect
        type="text"
        placeholder="Insert username..."
        i18n-placeholder="insertUsername" 
        [(ngModel)]="userLogin"
        rows="1"
      ></textarea>
      <button type="submit" class="btn-icon">
        <span class="material-symbols-outlined">done</span>
      </button>
    </div>
  </form>

  <form *ngIf="adminPrivileges" (ngSubmit)="changeProjectName()" class="dialogForm">
    <h3 i18n="@@changeProjectName">Change project name</h3>
    <div class="inputRow">
      <textarea 
        submitOnEnter
        appAutoResize
        type="text"
        name="projectName"
        placeholder="Insert new project name..."
        i18n-placeholder="insertNewProjectName" 
        [(ngModel)]="projectName"
        maxlength="128"
        rows="1"
      ></textarea>
      <button type="submit" class="btn-icon">
        <span class="material-symbols-outlined">done</span>
      </button>
    </div>
  </form>

  <div app-manage-users class="dialogForm" id="manageUsers"></div>
</div>
