/* for other styles check global styling at Frontend\src\styles.css */

.dialogContent {
  width: 25rem;
  height: 32rem;
}

#deleteProject, #leaveProject {
  position: absolute;
  top: 1.2rem;
  left: 1.1rem;
}

#manageUsers {
  height: 10rem;
  overflow-y: auto;
}

#projectNameHeader {
  margin: 0 3.5rem;
  overflow: hidden;
}

#projectNameHeader h1 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}
