<div id="content">
  <div id="dialog">
    <form #userlogin="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div id="header">TaskManager</div>

      <div class="inputBox">
        <i class="material-symbols-outlined"> mail </i>
        <input
          #autoSelect
          type="text"
          name="login"
          placeholder="login.."
          i18n-placeholder="login"
          [(ngModel)]="formData.name"
        />
      </div>

      <div class="inputBox">
        <i class="material-symbols-outlined"> password </i>
        <input
          type="password"
          name="password"
          placeholder="password.."
          i18n-placeholder="password"
          [(ngModel)]="formData.password"
        />
      </div>

      <button type="submit" id="loginButton" i18n="@@login"> login </button>

      <a routerLink="/register" i18n="@@dontHaveAccount">
        Don't have account? Create one!
      </a>

      <div *ngIf="showError" class="error">
        <p>Wrong password or/and login!</p>
      </div>
    </form>
  </div>
</div>

