<div class="dialogContent">
  <button (click)="clearAllSessionData()" class="btn-icon" id="logout">
    <span class="material-symbols-outlined"> logout </span>
  </button>
  <h1 i18n="@@profileSettings" class="center">Profile settings</h1>
  <button (click)="closeDialog()" class="btn-icon btn-closeDialog" id="closeDialog">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <form (ngSubmit)="changePassword()" class="dialogForm">
    <h3 i18n="@@changePassword">Change password:</h3>
    <div class="inputRow">
      <input
        type="text"
        name="changePassword"
        id="changePassword"
        placeholder="Enter new password"
        i18n-placeholder="enterNewPassword"
        [(ngModel)]="password"
      />
      <button type="submit" class="btn-icon">
        <span class="material-symbols-outlined">done</span>
      </button>
    </div>
  </form>
  <form (ngSubmit)="changeAvatar()" class="dialogForm">
    <h3 i18n="@@changeAvatar">Change avatar:</h3>
    <div class="inputRow">
      <input
        type="text"
        name="changeAvatar"
        id="changeAvatar"
        placeholder="Enter new image url"
        i18n-placeholder="link"
        [(ngModel)]="avatarUrl"
      />
      <button type="submit" class="btn-icon">
        <span class="material-symbols-outlined">done</span>
      </button>
    </div>
  </form>

  <div class="controls">
    {{ output }}
  </div>
</div>
