#content {
  width: 20rem;
  height: 10rem;
  border-radius: 10px;
  border: 2px solid #3a3a3a;
}

h1 {
  text-align: center;
}

form {
  margin: 0 2rem;
}

#bottomExtraInfo {
  font-size: 14px;
  color: gray;
  margin-top: 1rem;
}