<div class="dialogContent">
  <button (click)="closeDialogs()" class="btn-icon btn-closeDialog-h1">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <h1 i18n="@@filter" class="center">Filter</h1>
  <form>
    <label for="onlyAssigned" i18n="@@showOnlyAssignedTasks">
      Show only assigned tasks
    </label>
    <input
      #autoSelect
      type="checkbox"
      name="onlyAssigned"
      id="onlyAssigned"
      [checked]="onlyAssigned"
      (change)="onCheckedChange($event)"
    />
    <div id="bottomExtraInfo">
      You cannot move tasks while the filter is enabled
    </div>
  </form>
</div>
