<div id="main">
  <div id="projectHeader">
    <button 
      (click)="openProjectSettingsDialog()" 
      id="openProjectSettings" class="btn-icon headerButtons" 
      title="Open project settings" i18n-title="title-openProjectSettings"
    >
      <span class="material-symbols-outlined">settings</span>
    </button>
    <button 
      (click)="openFilterDialog()" 
      id="openFilter" class="btn-icon headerButtons" 
      title="Open filter" i18n-title="title-openFilter"
    >
      <span class="material-symbols-outlined"> filter_alt </span>
    </button>
    <span id="projectName">
      <p>{{ project?.name }}</p>
    </span>
    <button 
      (click)="openAddCategoryDialog()" 
      id="openAddCategory" class="btn-icon headerButtons" 
      title="Create new category" i18n-title="title-createCategory"
    >
      <span class="material-symbols-outlined">add</span>
    </button>
  </div>
  <div
    id="main-container"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropList($event)"
    cdkDropListGroup
  >
    <div
      *ngFor="let category of tasksByCategories$ | async | keyvalue : originalOrder"
      class="category"
      cdkDrag
      [cdkDragDisabled]="showOnlyAssigned"
    >
      <div class="cat-header">
        <div>
          <button 
            (click)="openCreateTaskDialog(category.key)" class="btn-icon addtask"
            title="Create new task" i18n-title="title-createNewTask"
          >
            <span class="material-symbols-outlined">add</span>
          </button>
        </div>

        <h2>{{ category.key }}</h2>

        <div *ngIf="!category.value.length" class="no-tasks">
          <button 
            (click)="deleteCategory(category.key)" class="btn-icon del-cat" 
            title="Delete this category" i18n-title="title-deleteCategory"
          >
            <span class="material-symbols-outlined redIcon">delete</span>
          </button>
        </div>
      </div>
      <div
        class="cat-body"
        cdkDropList
        [cdkDropListData]="category.value"
        (cdkDropListDropped)="drop($event, category.key)"
      >
        <div *ngIf="category.value.length">
          <div *ngFor="let task of category.value">
            <div *ngIf="!showOnlyAssigned || isUserMemberOfTask(task)">
              <div 
                class="task" (click)="openEditTaskDialog(task)" 
                cdkDrag [cdkDragDisabled]="showOnlyAssigned" 
                (mouseenter)="onMouseEnter(task)" (mouseleave)="onMouseLeave(task)"
                (cdkDragStarted)="hideDeleteButton()"
                (cdkDragEnded)="showDeleteButton()"
              >
                <button 
                  class="btn-icon deleteTask" 
                  *ngIf="taskHoverStates.get(task) && deleteButtonVisibility" (click)="deleteTask(task)" 
                  title="Delete this task" i18n-title="title-deleteTask"
                >
                  <span class="material-symbols-outlined redIcon">
                    delete
                  </span>
                </button>
                <div class="taskHeader">{{ task.name }}</div>
                <div class="taskDescription">{{ task.description }}</div>

                <ng-container *ngFor="let member of members$ | async" class="avatars">
                  <div class="avatar" *ngIf="isUserTaskMember(member, task)">
                    <img
                      src="{{ getAvatarUrl(member) }}"
                      alt="{{ member.login }}"
                      [title]="member.login"
                    />
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
