* {
  color: rgb(200, 200, 200);
}

:root {
  color-scheme: dark;
}

input {
  color: black;
}

body {
  margin: 0;
  background-color: rgb(23, 23, 23);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-icon {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 0.7rem;
  transition: 0.15s;
  cursor: pointer;
}

.btn-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon:hover {
  background-color: #3a3a3a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.2);
}

.redIcon {
  color: red;
}

.btn-closeDialog {
  position: absolute;
  top: 0.9rem;
  right: 0.7rem;
}

.btn-closeDialog-h1 {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}

.dialogContent {
  width: 20rem;
  height: 10rem;
}

.center {
  text-align: center;
}

.dialogForm {
  margin: 1.2rem;
}

.inputRow, .inputRowNoSubmit {
  display: flex;
  align-items: center;
}

.inputRow input {
  height: 2.2rem;
  width: 85%;
  text-align: center;
  border-radius: 0.8rem;
  border: none;
}

.inputRowNoSubmit input {
  height: 2.2rem;
  width: 95%;
  text-align: center;
  border-radius: 0.8rem;
  border: none;
}

textarea {
  padding: 0.7rem;
  font-size: large;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: none;
  background: transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  resize: none;
  overflow: hidden;
  border: 1px solid #545454;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.inputRow textarea {
  width: 87%;
}

.inputRowNoSubmit textarea {
  width: 100%;
}

.inputRow button {
  margin-left: auto;
  margin-right: 0;
}

.blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}
