.project {
  box-sizing: border-box;
  background-color: #292929;
  width: 9.7rem;
  height: 3.5rem;
  cursor: pointer;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 10;
  border-radius: 0.7rem;
  position: relative;
  word-break: break-all;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #545454;
}

.project:hover {
  border: 1px solid #545454;
  scale: 110%;
  margin-left: 0.7rem;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
