<div id="content">
  <div id="dialog">
    <form #userRegister="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div id="header">TaskManager</div>

      <div class="inputBox">
        <i class="material-symbols-outlined"> person </i>
        <input
          #autoSelect
          type="text"
          name="email"
          placeholder="email"
          i18n-placeholder="email"
          [(ngModel)]="formData.email"
        />
      </div>

      <div class="inputBox">
        <i class="material-symbols-outlined"> person </i>
        <input
          type="text"
          name="login"
          placeholder="login"
          i18n-placeholder="login"
          [(ngModel)]="formData.name"
        />
      </div>

      <div class="inputBox">
        <i class="material-symbols-outlined"> password </i>
        <input
          type="password"
          name="password"
          placeholder="password"
          i18n-placeholder="password"
          (focusout) ="checkPassword()"
          [(ngModel)]="formData.password"
        />
      </div>
<!--       
      <div *ngIf="showPasswordRules" class="haslodupa">
        <p i18n="@@passwordRules">password need to be at least 8 characters long and include letters numbers and symbols</p>
      </div> -->

      <div class="inputBox">
        <i class="material-symbols-outlined"> password </i>
        <input
          type="password"
          name="password_confirm"
          placeholder="confirm password"
          i18n-placeholder="confirmPassword"
          (focusout) ="checkPasswords()"
          [(ngModel)]="formData.password_confirmation"
        />
      </div>

      <div *ngIf="passwordMatch" class="hasloconfirmdupa">
        <p i18n="@@passwordMatch">passwords doesn't match</p>
      </div>

      <button type="submit" id="registerButton" i18n="@@register">Register</button>

      <a routerLink="/login" i18n="@@alreadyHaveAccount">
        Already have an account? Log in!
      </a>

      <div [ngClass]="{ error: error, none: !error }">{{ error }}</div>
    </form>

    <div *ngIf="submitted">
      <div *ngIf="user && user != null" i18n="@@AccountCreated">
        Account created!
      </div>
    </div>
  </div>
</div>

