<div id="content">
  <div id="dialog">
    <form #userRegister="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div id="header">TaskManager</div>

      <div [class.shake]="validEmailShake" [class.error]="!validEmail" class="inputBox">
        <i class="material-symbols-outlined"> person </i>
        <input
          #autoSelect
          type="text"
          name="email"
          placeholder="email"
          i18n-placeholder="email"
          (focusout)="checkEmail()"
          [(ngModel)]="formData.email"
        />
      </div>

      <div [class.shake]="validUsernameShake" [class.error]="!validUsername" class="inputBox">
        <i class="material-symbols-outlined"> person </i>
        <input
          type="text"
          name="username"
          placeholder="username"
          i18n-placeholder="username"
          (focusout)="checkUsername()"
          [(ngModel)]="formData.username"
        />
      </div>

      <div [class.shake]="validPasswordShake" [class.error]="!validPassword" class="inputBox">
        <i class="material-symbols-outlined"> password </i>
        <input
          type="password"
          name="password"
          placeholder="password"
          i18n-placeholder="password"
          (focusout)="checkPassword()"
          [(ngModel)]="formData.password"
        />
      </div>

      <div [class.shake]="passwordMatchShake" [class.error]="!passwordMatch" class="inputBox">
        <i class="material-symbols-outlined"> password </i>
        <input
          type="password"
          name="password_confirm"
          placeholder="confirm password"
          i18n-placeholder="confirmPassword"
          (focusout)="checkPasswords()"
          [(ngModel)]="formData.password_confirmation"
        />
      </div>

      <button type="submit" id="registerButton" i18n="@@register">Register</button>

      <a routerLink="/login" i18n="@@alreadyHaveAccount">
        Already have an account? Log in!
      </a>
    </form>

    <div *ngIf="submitted">
      <div *ngIf="user && user != null" i18n="@@AccountCreated">
        Account created!
      </div>
    </div>
  </div>
</div>

