<router-outlet></router-outlet>
<body>
  <div class="body">
    <form #userRegister="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <p>TaskManager</p>

      <div id="input-login">
        <i class="material-symbols-outlined" id="logico"
          >person</i
        >
        <input
          #autoSelect
          class="input"
          type="text"
          name="email"
          placeholder="email"
          [(ngModel)]="formData.email"
        />
      </div>

      <div id="input-login">
        <i class="material-symbols-outlined" id="logico"
          >person</i
        >
        <input
          class="input"
          type="text"
          name="login"
          placeholder="login"
          [(ngModel)]="formData.name"
          i18n-placeholder="login"
        />
      </div>

      <div id="input-login">
        <i class="material-symbols-outlined" id="passico"
          >password</i
        >
        <input
          class="input"
          type="password"
          name="password"
          placeholder="password"
          [(ngModel)]="formData.password"
          id="textin1"
          i18n-placeholder="password"
          (focusout) ="checkPassword()"
        />
      </div>
      <div *ngIf="showPasswordRules" class="haslodupa">
        <p i18n="@@passwordRules">password need to be at least 8 characters long and include letters numbers and symbols</p>
      </div>
      <div id="input-login">
        <i class="material-symbols-outlined" id="passico"
          >password</i  
        >
        <input
          class="input"
          type="password"
          name="password_confirm"
          placeholder="confirm password"
          [(ngModel)]="formData.password_confirmation"
          id="textin"
          i18n-placeholder="confirmPassword"
          (focusout) ="checkPasswords()"
        />
      </div>
      <div *ngIf="passwordMatch" class="hasloconfirmdupa">
        <p i18n="@@passwordMatch">passwords doesn't match</p>
      </div>

      <button type="submit" id="highlight" i18n="@@register">Register</button>
      <br /><br /><br />
      <hr />
      <br />
      <a
        routerLink="/login"
        i18n="@@alreadyHaveAccount"
        >Already have an account? Log in!</a
      >
      <br />
      <div [ngClass]="{ error: error, none: !error }">{{ error }}</div>
    </form>

    <div *ngIf="submitted">
      <div *ngIf="user && user != null" i18n="@@AccountCreated">
        Account created!
      </div>
    </div>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </div>
</body>

