/* for other styles check global styling at Frontend\src\styles.css */

.dialogContent {
  height: 23rem;
  width: 33rem;
}

#secondRow {
  margin-top: 0.5rem;
}

h1{
  margin-bottom: 1.5rem;
}

#confirm {
  margin-top: 1rem;
  margin-right: 0rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

#confirm button {
  transition: 0s;
  width: 84%;
  background-color: #3a3a3a;
}

#confirm button:hover {
  border: 1px solid #5d5d5d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.btn-icon {
  width: 2rem;
  scale: 120%;
}
