<div class="dialogContent">
  <button (click)="closeDialog()" id="closeDialog" class="btn-icon btn-closeDialog">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <h2 i18n="@@createNewTaskHeader" class="center">Create a New Task</h2>
  <form (ngSubmit)="createTask()" class="dialogForm">
    <div class="inputRowNoSubmit">
      <textarea
        appAutoResize
        #autoSelect
        type="text"
        name="taskName"
        id="taskName"
        placeholder="Enter task name"
        i18n-placeholder="@@enterTaskName"
        [(ngModel)]="formData.name"
        rows="1"
      ></textarea>
    </div>
    <div class="inputRowNoSubmit" id="secondRow">
      <textarea
        appAutoResize
        type="text"
        name="taskDescription"
        id="taskDescription"
        placeholder="Enter task description"
        i18n-placeholder="@@enterTaskDescription"
        [(ngModel)]="formData.description"
        rows="2"
      ></textarea>
    </div>
    
    <div id="confirm">
      <button id="declineButton" type="button" (click)="closeDialog()" class="btn-icon">
        <span class="material-symbols-outlined">close</span>
      </button>
      <button id="confirmButton" type="submit" class="btn-icon">
        <span class="material-symbols-outlined">done</span>
      </button>
    </div>
  </form>
</div>
